page-fees {
    .col{
        background:transparent;
        border: 0.1px solid #ddd8d8;
        color: #fff;
        }
        .bg-orange{
            background-color: #fc7f37;
        }
        .bg-violot{
            background-color: #fa2bb5;
        }
        .bg-blue{
            background-color: #3786fc;
        }
        .bg-green{
            background-color: #2ea124;
        }
}
