<ion-header>
  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <label></label>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <img src="assets/imgs/land.png" style="margin-bottom:-5px;" />
  <!-- <h5>
    <label color='navbarColor'></label>
    {{ "ourActivities" | translate }}
  </h5> -->

  <!-- <ion-grid>
    <ion-row center>
      <ion-col (click)="openModal({charNum: activity.category_id})" col-6 *ngFor='let activity of activityList'>
        <img src="{{activity.image}}" />
        <div>{{service.lang==='ar'?activity.title_ar:activity.title}}</div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
    <div (click)="openModal({charNum: activity.category_id})" col-12 class="events row"[ngClass]="{'evnt-list-alt': odd , 'evnt-list':even  }" *ngFor='let activity of activityList; let odd=odd; let even=even;'>
      <div col-3 item-start>
          <img src="{{activity.act_icon}}" />
      </div>
      <div col-9>
        <h5 style="margin-bottom: -1rem!important;">{{service.lang==='ar'?activity.title_ar:activity.title}}</h5>
        <p innerHtml="{{service.lang==='ar'?activity.description_ar:activity.description}}"></p>
      </div>
    </div>
  <button *ngIf="!service.loginState" (click)="goToMembershipPage()" style="margin-top: 10px;display: inline-table;"
   ion-button block padding>
    {{ "joinClub" | translate }}</button>
</ion-content>