<ion-header>
  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <label></label>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <img src="assets/imgs/land.png" />
  <h1>
    <label color='navbarColor'></label>
    {{ "ourActivities" | translate }}
  </h1>

  <ion-grid>
    <ion-row center>
      <ion-col (click)="openModal({charNum: activity.category_id})" col-6 *ngFor='let activity of activityList'>
        <img src="{{activity.image}}" />
        <div>{{service.lang==='ar'?activity.title_ar:activity.title}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-content>
      <img src="assets/imgs/logo TRANS.png" />
      <ion-card-title>
        <ion-icon name="call"></ion-icon>
        {{ "CallUs" | translate }}
        <a href="tel:0097455734539">55734539</a>
      </ion-card-title>
      <p>
        {{ "becomeMemberHeader" | translate }}
      </p>
    </ion-card-content>
  </ion-card>

  <button *ngIf="!service.loginState" (click)="goToMembershipPage()" ion-button block>
    {{ "joinClub" | translate }}</button>
</ion-content>