<ion-header>
  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end *ngIf="service.loginState">
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="service.loginState" has-header="true">
  <div id="profile-bg"></div>
  <div id="content">
    <div id="profile-info">
      <img id="profile-image" src="{{service.UserDetails.Image !== ''? service.UserDetails.Image :'assets/imgs/avathar-default.png' }}">
      <h3 id="profile-name">{{service.UserDetails.FullName}}</h3>
      <span id="profile-description">
        <p>{{service.UserDetails.CustomerType}}</p>
      </span>
    </div>

  </div>
</ion-content>
<ion-content class="card-background-page">
  <div align-items-center  *ngIf="!service.loginState">
        <ion-list>
          <img src="assets/imgs/logo TRANS.png" />
          <!-- <ion-item align-items-center>
            <button ion-button (click)="goToLoginPage()" round>Login</button>
          </ion-item>
          <ion-item align-items-center>
              <span floating> OR </span>
          </ion-item> -->
          <ion-item>
            <button full ion-button (click)="goToSignupEventsPage()" block>Signup for Events</button>
          </ion-item>
          <ion-item>
            <button full ion-button (click)="goToSignupMembershipPage()" block>Signup for Membership</button>
          </ion-item>
        </ion-list>
  </div>
</ion-content>