page-activities {

  .circle-pic{
    width:150x;
    height:150px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
} 
.events{
    width:100%;
    height:100px;
    padding:5px;  
    float: left;
    text-align: left;  
}
.events p{
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.events img{
    margin:auto;
    width:68px;
    height:68px;
}
.events h5{line-height: 0!important;}
.events ion-icon{font-size: 5em!important;}
.evnt-list{
background-color: #1681c4;
color: #fff;
}
.evnt-list-alt{
    background-color: #fff;
    color: #1681c4;

}
}