<ion-menu [content]="content">
  <ion-header>
    <!-- <ion-toolbar> -->
      <ion-item *ngIf="service.loginState">
        <!-- <button class="nav-btn" menuClose ion-item (click)="goToProfilePage()"> -->
          <ion-avatar item-start (click)="goToProfilePage()">
            <img src="{{service.UserDetails.Image !== ''? service.UserDetails.Image :'assets/imgs/avathar-default.png' }}">
          </ion-avatar>
          <h2>{{service.UserDetails.FullName}}</h2>
          <p>{{service.UserDetails.CustomerType}}</p>
        <!-- </button> -->
      </ion-item>
      <ion-item *ngIf="!service.loginState">
        <ion-avatar item-start>
          <img src='assets/imgs/avathar-default.png'>
        </ion-avatar>
        <h2>Hi Guest </h2>
      </ion-item>
    <!-- </ion-toolbar> -->
  </ion-header>

  <ion-content class="menu">
    <ion-list>
      <button class="nav-btn" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{p.title | translate}}
      </button>
      <div *ngIf="service.loginState">
        <button class="nav-btn" menuClose ion-item (click)="goToChangePasswordPage()">
          <ion-icon name="lock"></ion-icon>
          {{"changePassword" | translate}}</button>
        <button class="nav-btn" menuClose ion-item *ngIf="service.UserDetails.CustomerType === 'RACER'" (click)="gotoMyEvents()">
          <ion-icon name="boat"></ion-icon>
          {{"myEvents" | translate}}</button>
        <button class="nav-btn" menuClose ion-item *ngIf="service.UserDetails.CustomerType !== 'RACER'" (click)="gotoMyactivities()">
          <ion-icon name="basketball"></ion-icon>
          {{"myActivities" | translate}}</button>
        <button class="nav-btn" menuClose ion-item (click)="service.logout()">
          <ion-icon name="log-out"></ion-icon>
          {{"logout" | translate}}
        </button>
      </div>
      <div *ngIf="!service.loginState">
        <button class="nav-btn" menuClose ion-item (click)="goToLoginPage()">
          <ion-icon name="key"></ion-icon>
          {{"login" | translate}}
        </button>
        <button class="nav-btn" menuClose ion-item (click)="goToProfilePage()">
          <ion-icon name="person-add"></ion-icon>
          {{"Signup" | translate}}
        </button>
      </div>
    </ion-list>
    <img src="assets/imgs/logo TRANS.png" />
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>